<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Boolfix</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
    </head>
    <body>

        <div id="root" v-cloak>
            <header>
                <input v-model="searched.input" placeholder="cerca un film o una serie tv" @keyup.enter="getSearchResult">
                <button @click="getSearchResult">Cerca</button>
            </header>

            <main>
                <div class="container">
                    <div class="search-result" v-if="search.movies.loaded && search.tvSeries.loaded">
                        <h2 v-if="[...search.movies.result, ...search.tvSeries.result].length == 0">
                            Nessun risultato trovato per "{{ searched.title }}"
                        </h2>
                        <h2 v-else>
                            Risultati trovati per "{{ searched.title }}"
                        </h2>

                        <div class="container-cards">
                            <ul class="card" v-for="result in [...search.movies.result, ...search.tvSeries.result]">
                                <li class="poster">
                                    <img :src="imgUrl.baseUrl + imgUrl.posterSize + result.poster_path" alt="poster non disponibile">
                                </li>
                                <li>
                                    <span v-if="isMovie(result)">
                                        {{ result.title }}
                                    </span>
                                    <span v-else>
                                        {{ result.name }}
                                    </span>
                                </li>
                                <li>
                                    <span v-if="isMovie(result)">
                                        {{ result.original_title }}
                                    </span>
                                    <span v-else>
                                        {{ result.original_name }}
                                    </span>
                                </li>
                                <li class="language">
                                    <img :src="'img/flags/' + result.original_language + '.png'" :alt="result.original_language">
                                </li>
                                <li>
                                    <i class="fas fa-star" v-for="n in toStars(result.vote_average)"></i>
                                    <i class="far fa-star" v-for="n in (5 - toStars(result.vote_average))"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="loading" v-else-if="search.movies.isLoading || search.tvSeries.isLoading">
                        <h2>Ricerca in corso ...</h2>
                    </div>
                </div>
            </main>
        </div>





        <!-- javascript -->
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
