<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Boolfix</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
    </head>
    <body>

        <div id="root">
            <div class="container">
                <header>
                    <input v-model="searched" placeholder="cerca un film">
                    <button @click="loaded = false; getSearchResult()">Cerca</button>
                </header>

                <main v-if="loaded">
                    <ul class="card" v-for="result in searchResult">
                        <li>
                            <img :src="baseUrl + 'w500' + result.poster_path" alt="poster non disponibile">
                        </li>
                        <li>
                            {{ result.title }}
                        </li>
                        <li>
                            {{ result.original_title }}
                        </li>
                        <li>
                            {{ result.original_language }}
                        </li>
                        <li>
                            {{ result.vote_average }}
                        </li>
                    </ul>
                </main>
            </div>
        </div>





        <!-- javascript -->
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
