* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 95px;
    padding: 30px;
    background-color: black;
}

header .logo {
    display: flex;
    align-items: center;
    color: red;
    font-size: 30px;
}

header .search {
    display: flex;
    align-items: center;
}

header button {
    height: 35px;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

header input {
    height: 25px;
    min-width: 200px;
    margin-right: 10px;
    border-radius: 5px;
    outline: none;
}

main {
    background-color: #454545;
    min-height: calc(100vh - 95px);
    padding-top: 40px;
    color: white;
}

main h2 {
    margin-bottom: 40px;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 158px;
    height: 237px;
    list-style-type: none;
    margin: 0 25px 25px 25px;
    border: 2px solid #b8b8b8;
    background-color: black;
    font-size: 13px;
    word-wrap: break-word;
    cursor: pointer;
}

.card li:not(.poster) {
    display: none;
    padding: 0 5px 5px 5px;
}

.card strong {
    font-size: 14px;
}

.card .poster {
    height: 100%;
    background-color: grey;
}

.card .poster img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card .title {
    margin-top: 10px;
}

.card .language img {
    width: 25px;
}

.card .language img,
.card .language span {
    margin-left: 5px;
}

.card .vote i {
    color: yellow;
}

.card:hover .poster {
    display: none;
}

.card:hover li:not(.poster):not(.language) {
    display: block;
}

.card:hover .language {
    display: flex;
    align-items: center;
}

[v-cloak] {
  display: none;
}
