* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 95px;
    padding: 30px;
    background-color: black;
}

header .logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: red;
}

header .search {
    display: flex;
    align-items: center;
}

header button {
    height: 35px;
    width: 70px;
    border-radius: 5px;
    background-color: #919191;
    color: white;
    cursor: pointer;
    outline: none;
}

header button:hover {
    background-color: rgb(167, 167, 167);
}

header input {
    height: 30px;
    min-width: 200px;
    margin-right: 10px;
    border-radius: 5px;
    outline: none;
}

main {
    min-height: calc(100vh - 95px);
    padding-top: 40px;
    background-color: #454545;
    color: white;
}

main h2 {
    margin-bottom: 40px;
    margin-left: 25px;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    height: 375px;
    margin: 0 25px 25px 25px;
    border: 2px solid #b8b8b8;
    list-style-type: none;
    font-size: 15px;
    background-color: black;
    word-wrap: break-word;
    cursor: pointer;
    overflow-y: auto;
}

.card li:not(.poster) {
    display: none;
    padding: 0 10px 8px 10px;
}

.card strong {
    font-size: 17px;
}

.card .poster {
    height: 100%;
    background-color: grey;
}

.card .poster img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card .title {
    margin-top: 10px;
}

.card .language img {
    width: 25px;
}

.card .language img,
.card .language span {
    margin-left: 5px;
}

.card .vote i {
    color: yellow;
}

.card:hover .poster {
    display: none;
}

.card:hover li:not(.poster):not(.language) {
    display: block;
}

.card:hover .language {
    display: flex;
    align-items: center;
}

/* cards scrollbar */
.card::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}

.card::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #6f6f6f 14%,#6f6f6f 64%);
    border-radius: 5px;
}

.card::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, rgb(186, 186, 186) 14%,rgb(186, 186, 186) 64%);
}

.card::-webkit-scrollbar-track{
    background: black;
    border-radius: 10px;
}
