* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    background-color: black;
    margin-bottom: 50px;
}

header .logo {
    display: flex;
    align-items: center;
    color: red;
    font-size: 30px;
}

header .search {
    display: flex;
    align-items: center;
}

header button {
    height: 35px;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

header input {
    height: 25px;
    min-width: 200px;
    margin-right: 10px;
    border-radius: 5px;
    outline: none;
}

main h2 {
    margin-bottom: 40px;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 158px;
    list-style-type: none;
    margin: 0 25px 25px 25px;
}

.card .poster {
    height: 237px;
    background-color: grey;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card .language img {
    width: 25px;
}

[v-cloak] {
  display: none;
}
